.main {
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #ccc;
  margin: 20px 0px;
  line-height: 1.6;
  padding: 20px;
  text-align: center;
  box-shadow: 6px 7px 5px 0px rgba(32, 31, 33, 0.28);
}

.main__header {
  text-align: center;
  font-size: 30px;
}

.main__image {
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
  display: block;
  box-shadow: 6px 7px 5px 0px rgba(32, 31, 33, 0.28);
}

.main__page {
  text-decoration: none;
  color: #fff;
  background-color: #514e4e;
  border: 1px solid grey;
  padding: 2px 2px;
  box-shadow: 6px 7px 5px 0px rgba(32, 31, 33, 0.18);
}
